* {
  box-sizing: border-box;
}

html {
  background-color: black;

}

/* @media screen and (max-width: 767px) and (orientation: portrait) {
  html {
    /* 
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute; */

    /* transform: rotate(90deg); */
    /* top: 100%;
    left: 0; */
  }
} */
