* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

input {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.7);
}

@font-face {
  font-family: planer;
  src: url('assets/planer.ttf');
  font-weight: 400;
  font-weight: normal;
}

@font-face {
  font-family: neuropol;
  src: url('assets/neuropol.otf');
  font-weight: 400;
  font-weight: normal;
}
