.container {
  background-image: url('/src/assets/background_room.png');
  padding: 20px;
}

.topPanelsWrapper {
  display: flex;
  flex-direction: row;
}

.usersTabPanelWrapper {
  display: flex;
  flex-direction: column;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.panelTitle {
  width: 100px;
  object-fit: contain;
  margin-left: -0.3px;
}

.usersWrapper {
  display: flex;
  flex-direction: column;
}

.users {
  border: 1px solid #09aaa0;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  margin-top: -1px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  padding: 2px;
  overflow-y: auto;
}

.challengeButton {
  object-fit: contain;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;
}

.messages {
  border: 1px solid #09aaa0;
  border-radius: 5px;
  height: 250px;
  margin-top: -1px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  padding: 7px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 12px;
  font-family: planer;
}

.flag {
  margin-right: 5px;
  width: 20px;
}

.dropdownContent {
  margin-left: 10px;
}

.modalButton {
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 20px;
}

.dropdownItemsWrapper {
  display: flex;
  align-items: center;
}

.dropdownLabel {
  margin-left: 10px;
}

.modalTitle {
  position: absolute;
  left: 27px;
  top: 0;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  font-size: 10px;
  max-height: 250px;
  overflow: auto;
}

.closeIcon {
  color: '#b2f1e8';
}

.messageButton {
  display: flex;
  color: white;
  font-family: neuropol;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: relative;
  padding: 0 27px;
  cursor: pointer;
}

.sendChallengeButton {
  display: flex;
  color: white;
  font-family: neuropol;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: relative;
  padding: 0 15px;
  cursor: pointer;
  margin: 20px 0;
}

.messageWrapper {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
}

.input {
  flex: 1;
  margin-right: 20px;
}

.user {
  background-color: rgba(11, 62, 73, 0.5);
  color: #00a69d;
  border-radius: 3px;
  margin-bottom: 2px;
  padding: 5px;
  font-size: 12px;
  font-family: planer;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu {
  color: #01a79e;
  position: absolute;
  right: 50px;
  top: 20px;
}

.userSelected {
  background-color: rgba(11, 62, 73, 1);
}

.messageName {
  color: #00a69d;
}

.challengeButton {
  color: #29b5ff;
  cursor: pointer;
}

.buttonImage {
  object-fit: contain;
  z-index: 0;
  position: absolute;
  width: 100%;
}

.tab {
  object-fit: contain;
  z-index: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.tabContainer {
  width: 120px;
  object-fit: contain;
  margin-left: -0.3px;
  position: relative;
  color: white;
}

.tabText {
  z-index: 1;
  color: #49ead7;
  position: relative;
  font-family: 'neuropol';
  font-size: 10px;
  margin-left: 10px;
}
